urllib3
git+https://github.com/awslabs/cfn-python-lint@master
enum34~=1.1
taskcat
awscli
pre-commit
s3transfer<0.2.0,>=0.1.10

assisted-tax-utils
coverage
boto3==1.9.198
botocore==1.12.198
certifi==2019.6.16
configparser==3.7.4
docutils==0.14
idps-mgmt-swagger-client==3.70.1
idps-sdk==3.70.1
idps-swagger-client==3.70.1
jmespath==0.9.4
machina-swagger-client==3.70.1
pks-swagger-client==3.70.1
psutil==5.6.3
pycryptodome==3.8.2
python-dateutil==2.8.0
s3transfer==0.2.1
secrecy-swagger-client==3.70.1
six==1.12.0
urllib3==1.25.3
lxml
requests==2.21.0
